<nav class="navbar navbar-expand-lg bg-primary border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 font-weight-bold">MealMap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'dining_diary' %}active{% endif %}" href="{% url 'dining_diary' %}">Dining Diary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'random_restaurant_finder' %}active{% endif %}" href="{% url 'random_restaurant_finder' %}">Random Restaurant Finder</a>
        </li>
        
        </ul>
        {% if request.user.is_authenticated %}
        <div class="d-flex">
            <a class="btn btn-outline-light me-2" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="d-flex">
            <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Login</a>
            <a class="btn btn-outline-light" href="{% url 'register' %}">Sign-up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>